# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env

# VSCode / PyCharm
.idea/
.vscode/

# Data & Indexes
#faiss_index/
#data/sample_docs/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
